@import "./../../../../assets/scss/mixins";
@import "./../../../../assets/scss/colors";

.qcm-notFoundPage {
    @include bg-gradient-404;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__messageTitle {
        line-height: 60px;
        font-size: 60px;
        font-weight: bold;
        color: $brand-01;
        text-align: center;
        text-transform: uppercase;
    }
    &__redirectButton {
        display: block;
        margin: 20px auto;
    }
}
