@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";

.qcm-page {
    @include bg-gradient-main;
    min-height: 100vh;

    &__title {
        text-align: center;
        margin-top: 30px;
    }
    &__quotesList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 800px;
        padding: 186px 30px 100px 30px;
        margin: 0 auto;
        gap: 20px;
    }
    &__emptyQuotesSection {
        opacity: 0.5;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;

        &Message {
            font-size: 28px;
        }
    }
}

@media screen and (min-width: 600px) {

    .qcm-page {

        &__quotesList {
            padding-top: 112px;
        }
    }
}
