<div class="qcm-page">
    <div class="qcm-page__content">
        <qcm-quote-creator (quoteCreated)="storeNewQuote($event)"></qcm-quote-creator>
        <qcm-toolbar (textSearched)="updateSearchText($event)"></qcm-toolbar>
        <div class="qcm-page__emptyQuotesSection" *ngIf="quotes && !quotes.length">
            <p class="qcm-page__emptyQuotesSectionMessage">You have no saved quotes</p>
        </div>
        <qcm-suggested-quote [quote]="suggestedQuote" *ngIf="suggestedQuote" (quoteSaved)="storeNewQuote($event)"></qcm-suggested-quote>
        <div class="qcm-page__quotesList" *ngIf="quotes && quotes.length" data-cy="quotes-list">
            <qcm-quote
                [quote]="quote"
                [searchTerms]="searchText"
                *ngFor="let quote of quotes | filterQuotesByKeywords: searchText"
            ></qcm-quote>
        </div>
        <button class="qcm-page__logoutBtn" (click)="signOut()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</div>
