@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/colors";

:host {
    display: block;
    width: 100%;
    height: auto;
}
.qcm-suggestedQuote {
    @include bottom-box-shadow;
    @include bg-gradient-suggested-quote;
    animation: open 0.1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 0 0 3px 3px;
    transform: translateY(100%);
    padding: 24px 24px 0 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 8;
    animation-delay: 1s;

    &__newIcon {
        display: block;
        font-size: 34px;
        color: $brand-01;
        margin: 0 auto 30px auto;
    }
    &__body {
        max-width: 1030px;
        margin: 0 auto;
        position: relative;
    }
    &__author {
        display: block;
        font-style: italic;
        opacity: 0.6;
        margin-top: 16px;
        margin-bottom: 0;
    }
    &__contentWrap {
        @include hyphenize;
        text-align: center;
        word-wrap: break-word;
        padding-bottom: 16px;
        margin-top: 14px;
    }
    &__actionsWrap {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 6px;
        position: absolute;
        bottom: 8px;
        right: -2px;
    }
    &__action {

        &.-save {

            mat-icon {
                transition: color 0.2s ease-in-out;
            }
            &:hover,
            &:active {

                mat-icon {
                    color: $support-02;
                }
            }
        }
    }
    &.-hidden {
        animation: close 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translateY(0%);
        animation-delay: 0;
    }
}


@keyframes open {

    100% {
        transform: translateY(0);
    }
}

@keyframes close {

    100% {
        transform: translateY(100%);
    }
}
