<div class="qcm-suggestedQuote" [ngClass]="{ '-hidden': hidden }">
    <div class="qcm-suggestedQuote__body">
        <p class="qcm-suggestedQuote__content">
            {{ quote.text }}
            <span class="qcm-suggestedQuote__author"> {{ quote.author ? quote.author : 'Anonymous' }}</span>
        </p>
        <div class="qcm-suggestedQuote__actionsWrap">
            <button mat-icon-button class="qcm-suggestedQuote__action" (click)="saveQuote()">
                <mat-icon>favorite_border</mat-icon>
            </button>
            <button mat-icon-button class="qcm-suggestedQuote__action" (click)="hide()">
                <mat-icon>delete_outline_icon</mat-icon>
            </button>
        </div>
    </div>
</div>
